$bg-color: rgb(27, 27, 27);
$graph-container-bg-color: lighten($bg-color, 3%);
$border-color: darken($bg-color, 5%);

$side-bar-width: 300px;

$light-font-color:rgba(235, 228, 228, 0.932);
$title-font: "Arial", sans-serif;
