@import "theme";

body{
  margin: 0px;
  font-family: $title-font;
}

#app{
  display:grid;
  grid-template: 1fr;
  background-color:rgba(72, 100, 151, 0.863);
}
#Menu{
  background-color: rgb(255, 255, 255);
  height: 30px;
}
#mainContainer{
  display: flex;
  flex-direction: row;
}
#graphContainer{
  background-color: $graph-container-bg-color;
  width: calc(100vw - #{$side-bar-width});
}
#sidePanel{
  padding:10px;
  width: $side-bar-width;
  background-color: darken($bg-color,10%);
  word-wrap: break-word;
}

#sidePanel p{
  font-size: 10px;
  color:white;
}

#refresh{
  float: right;
}

h4{
  color:white;
}