@import "theme";

body{
  margin: 0px;
  font-family: $title-font;
}

#app{
  display:grid;
  grid-template: 1fr;
  background-color:rgba(72, 100, 151, 0.863);
}
#Menu{
  background-color: rgb(255, 255, 255);
  height: 30px;
  max-width: 100%;
}
#mainContainer{
  display: flex;
  flex-direction: row;
}
#graphContainer{
  background-color: $graph-container-bg-color;
  width: calc(100vw - #{$side-bar-width});
}
#sidePanel{
  width: $side-bar-width;
  background-color: darken($bg-color,10%);
  word-wrap: break-word;
}

#sidePanel > *{
  padding-left:10px;

}

#sidePanel p{
  font-size: 10px;
  color:white;
}


#refresh{
  position: relative
}

#loading img{
  margin-top: 45vh;
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom:30%;
}

h4{
  color:white;
}

.nodeInfo{
  max-width: 100%;
  max-height:500px;
  overflow-y: scroll;
}

.react-json-view{
  overflow-y: scroll;
  overflow-x: scroll;
  max-width: 95%;
  max-height: 500px;
  border: 2px solid slategrey;
  border-radius: 5px;
}

#details-header{
  text-align: center;
  background-color: dodgerblue;
  margin-right: 10px;
  border: 2px solid slategrey;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
}

#details-header h4{
  padding: 0px;
  margin: 0px;
}

#select-menu {
  width:300px;
}